<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {%if object_list%}
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Дата</th>
            <th>Имя</th>
            <th>Телефон</th>
        </tr>
        {% for obj in object_list %}
        <tr>
            <th>{{obj.id}}</th>
            <th>{{obj.order_dt}}</th>
            <th>{{obj.order_name}}</th>
            <th>{{obj.order_phone}}</th>
        </tr>
        {% endfor %}
    </table>
    {%else%}
    Нет данных
    {%endif%}

<br>
<br>

<style>
    .css_input{
    color:yellow;
    background-color:pink;
    }
</style>
<br>

<form action="{% url 'thanks_page' %}" method="POST">
        {% csrf_token %}
        {{ form }}
<!--        <label>Имя</label>-->
<!--        <input name="name">-->
<!--        <label>Телефон</label>-->
<!--        <input name="phone">-->
        <button type="submit">Отправить</button>
</form>

</body>

</html>